@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
  @apply text-gray-100 bg-gray-800 tracking-wide;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
